<script src="https://cdn.auth0.com/js/lock/11.14/lock.min.js"></script>
<script>
    const options = {
        auth: {
            redirectUrl: 'http://localhost:3000/callback',
            params: {
                audience: 'http://stream-pay.com/userinfo',
                scope: 'openid profile'
            }
        }
    };
    const lock = new Auth0Lock('j5y3bybisuht2xxffzj0udopolxrhd', 'stream-pay.com', options);

    function signin() {
        lock.show();
    }
</script>

<button style="color: #0a0a0a" onclick="signin()">Login</button>