<dashboard-pie-chart></dashboard-pie-chart>

<div class="row">
    <div class="row">
      <div class="col-xlg-5 col-lg-5 col-md-12 col-sm-12 col-xs-12"
           ba-panel
           ba-panel-title="Донаты"
           ba-panel-class="large-panel with-scroll feed-panel">
        <blur-feed></blur-feed>
      </div>
      <div class="col-xlg-7 col-lg-7 col-md-12 col-sm-12 col-xs-12"
           ba-panel
           ba-panel-title="Статистика пожертований"
           ba-panel-class="medium-panel">
        <dashboard-line-chart></dashboard-line-chart>
      </div>
    </div>
</div>
